doctype html
html(lang="en")
  head
    title Home
    link(href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet")
    link(href="css/style.css" rel="stylesheet")
  body
    .container
      .row.text-center.heading
        h1 Profile
        button.btn.btn-warning.logout Log Out
      
    script(src='bower_components/jquery/dist/jquery.min.js')
    script(src='js/main.js')
    script(src='js/profile-actions.js')
